# --- DHL eCommerce TR / MNG ApiZone (sandbox: testapi.mngkargo.com.tr) ---
MNG_KARGO_ENABLED=true
MNG_API_BASE_URL=https://testapi.mngkargo.com.tr
MNG_IBM_CLIENT_ID=
MNG_IBM_CLIENT_SECRET=
# Online Şube müşteri numarası + API alt kullanıcı şifresi (Identity /token)
MNG_CUSTOMER_NUMBER=
MNG_CUSTOMER_PASSWORD=
MNG_DEFAULT_DESI=1
MNG_DEFAULT_KG=1
MNG_PACKAGING_TYPE=3
MNG_SHIPMENT_SERVICE_TYPE=1
MNG_PAYMENT_TYPE=1
MNG_DELIVERY_TYPE=1
